.hand {
  border: fade-out($color: white, $amount: 0.75) 5px solid;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  min-height: 19.7rem;
  width: 90%;
  margin: auto;
}

.hand__card {
  width: 10.5rem;
  height: 16rem;
  padding: 1rem;
  border: solid 3px white;
  background-color: white;
  color: black;
  border-radius: 6px;
  margin-left: 3rem;
  border: solid 0.3rem;
}

.hand__card--value {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
  text-align: left;
  vertical-align: text-top;
}

.hand__card--suit {
  font-size: 4.8rem;
  vertical-align: text-top;
}

.hand__card--back {
  border: 3px;
  border-color: rgb(172, 0, 0);
  border-style: solid;
  border-radius: 6px;
  height: 16rem;
  margin-left: 3rem;
}
