.header {
  background: $dark-grey;
  padding: $s-size 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__nav-link {
  color: white;
  text-decoration: none;
  margin: 0 $m-size;
}
.header__nav-link--active {
  color: rgb(255, 214, 102);
  font-weight: bold;
}
